---
interface Props {
  title: string;
  description: string;
  image: string;
  alt: string;
  class?: string;
}
const { title, description, image, alt } = Astro.props;
---

<article
  class={`${Astro.props.class} flex flex-col px-8 pb-10 pt-16 justify-center text-center md:text-start relative w-[350px] h-auto bg-white rounded-md`}
>
  <div
    class="absolute rounded-full p-4 animate-bounce animate-duration-[3000ms] bg-DarkViolet -top-10 md:left-10 left-[138px]"
  >
    <img width="40" height="40" src={image} alt={alt} />
  </div>
  <h2 class="text-xl text-black dark:text-black font-semibold">{title}</h2>
  <p class="text-lg text-grayishViolet text-pretty">{description}</p>
</article>
